<footer class="myfooter">
    <div class="countainer-fluid">
      <div class="row">
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-envelope"></span>Contactez nous</h3>
          <ul>
            <li><a href="#">Notre Page Sur Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#">Suivez nous sur Twitter <span class="fa fa-twitter-square"></span></a> </li>
            <li><a href="#">Regardez-nous sur YouTube <span class="fa fa-youtube-square"></span></a> </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-globe"></span>Liens De Page</h3>
          <ul>
            <li><a href="/Sector/Prive">Stages Pour le secteur privé</a></li>
            <li><a href="/Sector/Public"> Stages Pour le secteur public</a></li>
            <li><a href="/Sector/Etranger">Stages à l'étranger</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3><span class="glyphicon glyphicon-question-sign"></span>Informations sur le site</h3>
          <p style="color: #fff;">
            William Henry Gates III (born October 28, 1955) is an American business magnate
            , investor, author, philanthropist, and humanitarian. He is best known as the pioneer
            of the microcomputer revolution of the 1970s and 1980s, and the principal founder of Microsoft
            Corporation.[2][3] During his career at Microsoft
          </p>
        </div>
      </div>
      <div class="subfotter">
        <p> Copyright 2020 &copy; All right Reserved</p>
      </div>
    </div>
  </footer>
